#wrapper{
    display: grid;
    grid-template-columns: 15% 25% 60%;
    grid-template-rows: 75px 100vh 100px;
    grid-template-areas: 
    "hd hd nv"
    "as mn mn"
    "ft ft ft";
}
header{
    grid-area: hd;
    background-color: #404240;
    display: flex;
    padding: 5px;
}
aside{
    grid-area: as;
    background-color: antiquewhite;
}
footer{
    grid-area: ft;
    background-color: aqua;
}
main{
    grid-area: mn;
    background-color: aquamarine;
}
nav{
    grid-area: nv;
    background-color: #404240;
    display: flex;
    justify-content: start;
}
#logo{
align-self: center;
}
body{
    margin: 0%;
}
#LogoText{
    color: #2ecc71;
    margin-left: 20px;
    align-self: center;
}
#search{
    align-self: center;
    height: 15px;
    margin-left: 300px;
}
