#wrapper{
    display: grid;
    grid-template-columns: 15% 25% 60%;
    grid-template-rows: 75px 100vh 100px;
    grid-template-areas: 
    "hd hd nv"
    "as mn mn"
    "ft ft ft";
}
header{
    grid-area: hd;
    background-color: #404240;
    display: flex;
    padding: 5px;
}
aside{
    grid-area: as;
    background-color: antiquewhite;
}
footer{
    grid-area: ft;
    background-color: aqua;
}
main{
    grid-area: mn;
    background-color: aquamarine;
    display: flex;
}
nav{
    grid-area: nv;
    background-color: #404240;
    display: flex;
    justify-content: flex-end;
}
#logo{
align-self: center;
}
body{
    margin: 0%;
}
#LogoText{
    color: #2ecc71;
    margin-left: 20px;
    align-self: center;
}
#search{
    align-self: center;
    height: 15px;
    margin-left: 300px;
    margin-right: 10px;
}
#searchbar{
    height: 15px;
    align-self: center;
    margin-right: 30px;
    background-color: #404240;
    border-radius: 25px;
    border-style:solid;
    border-width: 2px;
    text-align: center;
}
.navtext{
    align-self: center;
    margin: 25px;
    color: white;
    text-decoration: none;
}
.navtext:hover{
    color: #2ecc71;
}
#searchbar:hover{
    border-color: #2ecc71;
}
#searchbar:focus{
    outline-color: #2ecc71;
    border-color: #2ecc71;
    box-shadow: none !important;
}
#mainpic{
    object-fit: cover;
    height: 100%;
    width:100% ;
}

