#wrapper{
    display: grid;
    grid-template-columns: 15% 25% 60%;
    grid-template-rows: 75px 100vh 100px;
    grid-template-areas: 
    "hd hd nv"
    "as mn mn"
    "ft ft ft";
}
#wrapper_prod{
    display: grid;
    grid-template-columns: 15% 25% 60%;
    grid-template-rows: 75px 150vh 100px;
    grid-template-areas: 
    "hd hd nv"
    "as mn mn"
    "ft ft ft";
}
header{
    grid-area: hd;
    background-color: #404240;
    display: flex;
    padding: 5px;
}
aside{
    grid-area: as;
    background-color:#404240;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
}
footer{
    grid-area: ft;
    background-color:#404240;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    grid-area: mn;
    background-color:#404240;
    display: flex;
}
nav{
    grid-area: nv;
    background-color: #404240;
    display: flex;
    justify-content: flex-end;
}
#logo{
align-self: center;
}
body{
    margin: 0%;
}
#LogoText{
    color: #2ecc71;
    margin-left: 20px;
    align-self: center;
}
#search{
    align-self: center;
    height: 15px;
    margin-left: 300px;
    margin-right: 10px;
}
#searchbar{
    height: 15px;
    align-self: center;
    margin-right: 30px;
    background-color: #404240;
    border-radius: 25px;
    border-style:solid;
    border-width: 2px;
    text-align: center;
    color: #DCDCDC;
}
.navtext{
    align-self: center;
    margin: 25px;
    color:#DCDCDC;
    text-decoration: none;
}
.navtext:hover{
    color: #2ecc71;
}
#searchbar:hover{
    border-color: #2ecc71;
}
#searchbar:focus{
    outline-color: #2ecc71;
    border-color: #2ecc71;
}
#mainpic{
    object-fit: cover;
    height: 100%;
    width:100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.cards{
    display: block;
    height: 30%;
    width: 90%;
    background-color: #DCDCDC;
    border-radius: 20px;
    text-align: center;
}
.cardpics{
    object-fit: cover;
    width: 100%;
    height: 80%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#topsellers{
    margin-top: 0px;
    color: #DCDCDC;
}
.bottombutton{
    display: block;
    font-size: 300%;
    color: #404240;
    margin-left: 10%;
    height: 60%;
    width: 400px;
    background-color: #DCDCDC;
    text-align: center;
    border-radius: 20px;

}
.cardtext{
    color: #404240;
    text-decoration: none;
}
#logolink{
    text-decoration: none;
}
#main_prod{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}
#cardprod{
    display: flex;
    height: auto;
    width: 200px;
    background-color: #DCDCDC;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
}
.prodpics{
    width: 200px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#sort{
    display: flex;
    justify-content: flex-start;
}
.Sort_Methods{
    color: #DCDCDC;
    margin: 15px;
    text-decoration:none ;
}
#Sort_By{
    color: #DCDCDC;
}
.Sort_Methods:hover{
    color: #2ecc71;
}
#Happy_Bird{
    margin-top: 400px;
    width: 90%;
}